@model ApnaDoctor.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Register.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js" integrity="sha512-DNeDhsl+FWnx5B1EQzsayHMyP6Xl/Mg+vcnFPXGNjUZrW28hQaa1+A4qL9M+AiOMmkAhKAWYHh1a+t6qxthzUw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" integrity="sha512-BNZ1x39RMH+UYylOW419beaGO0wqdSkO7pi1rYDYco9OL3uvXaC/GTqA5O4CVK2j4K9ZkoDNSSHVkEQKkgwdiw==" crossorigin="anonymous"></script>



</head>
<body>
    <main>
        <div class="row parent">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-md-6 text-white pt-4" style="background-color:#838a75">
                        <h4>About Apna Doctor</h4>
                        <p>Apna doctor is a virtual clinic that offers a safe and reliable platform for doctors to connect with patients through HD-Video & Voice calling featured an own named IOS/android app along with an extremely detailed and user-friendly one-click interface web portal.</p>
                        <p>Apna Doctor offers safe and reliable online medical assistance. By connecting certified doctors with patients from anywhere in Pakistan, Apna Doctor makes is easier for everyone to enjoy professional medical services.</p>
                    </div>
                    <div class="col-md-6 pt-2" style="background-color:#f5f5f5">
                        <div>
                            <img src="~/Content/img/apna doctor.png" style="width:100px;height:80px;margin:0px auto 0px auto;display:block;background-position:center;background-size:cover" />
                        </div><br />
                        <h5 class="text-center">Register</h5>
                        @using (Html.BeginForm("CheckUserRegisterOrNot", "Account"))
                        {

                            <label class="col-md-2 control-label offset-md-2">Mobile Number:</label><br />
                           
                                <input type="text" class="form-control   " maxlength="10" name="number" id="number" style="width:270px" />
                         
                            <label class="col-md-2 control-label offset-md-2">Role:</label>
                            <select class="form-control col-md-8 offset-md-2 " name="role">
                                <option value="0">Select Role:</option>
                                <option value="SuperAdmin">SuperAdmin</option>
                                <option value="Admin">Admin</option>
                                <option value="Doctor">Doctor</option>
                                <option value="Patient">Patient</option>

                            </select><br />

                            <input type="submit" class="btn btn-primary offset-md-8 mb-3" value="Next" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
<style>
    .iti {
        margin-left: 75px;
    }

    .iti__country-list {
        width: 200px;
        height: 100px;
    }
</style>
<script>

    var input = document.querySelector("#number");
    window.intlTelInput(input, {
        initialCountry: "pk",
        separateDialCode: true,
        customPlaceholder: function (
            selectedCountryPlaceholder,
            selectedCountryData
        ) {
            return "e.g. " + selectedCountryPlaceholder;
        },
    });
</script>